body {
    margin: 0;
}

#layout {
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 100vh;
}

.right {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

.left {
    background-color: #D8DEE9;
}

#info {
    background-color: #ECEFF4;
}

nav, #footer {
    background-color: #6e798fc2;
}

.active .left {
    background-color: #161B22;
}

.active #info {
    background-color: #0B0E14;
    color: white;
}

.active #footer {
    background-color: #21262D;
}

.active nav {
    background-color: #21262D;
}

#mode {
    cursor: pointer;
    background: transparent;
    border: none;
}

.sun-icon {
    display: none;
}
.active .moon-icon {
    display: none;
}
.active .sun-icon {
    display: block;
}

#add {
    border-radius: 20px;
    background-color: rgb(23, 170, 255);
    outline: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.89);
    margin-top: 20px;
    margin-bottom: 20px;
}

#cen {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#dialog {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#desc-input {
    resize: none;
    height: 50px;
}
